* {
    box-sizing: border-box;    
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.content-wrapper {
    min-height: 100vh;
    width: 100%;
    max-width: 900px;
    display: grid;
    grid-template-rows: 3rem 17rem 1fr 12rem;
}

nav {
    background-color: black;
    color: white;
    height: 3rem;
}

nav ul {
    margin: 0;
    height: 3rem;
    padding: 0 6rem 0 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
    transition-duration: 100ms;
}

nav ul li:hover {
    transform: scale(105%);
    background-color: rgb(53, 53, 53);
}

nav ul li:active {
    background-color: black;
}

nav ul li a {
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
}

.book-button {
    background: rgb(219,110,26);
background: linear-gradient(322deg, rgba(219,110,26,1) 35%, rgba(212,42,0,1) 100%);
}

header {
    background-image: URL(/images/island-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-family: bradley hand, cursive;
    
}

header h1 {
    font-size: 8rem;
    letter-spacing: 1rem;
    color: darkorange;
    text-shadow: 6px 6px 6px black;
}




main {
 background-color: white; 
 padding: 0 2rem 0 2rem;
 background-color: rgb(53, 53, 53);
    color: white;
}

main p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    
}

.tile-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.menu-tile {
    color: white;
    width: 48%;
    aspect-ratio: 3 / 2;
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    transition-duration: 100ms;
    border-radius: 4px;
    border: 1px solid black;
}

.menu-tile:hover {
    border: 3px solid black;
    opacity: 90%;
    transform: scale(97%)
}

.menu-tile h2 {
    margin: 0 0 1rem 0;
    letter-spacing: .2rem;
    text-shadow: 2px 2px 2px black;
}

#dining-tile {
    background-image: url(images/dining-01.jpg);
    background-position: center;
}

#entertainment-tile {
    background-image: url(images/entertainment-01.jpg);
    background-position: center;
}

#transport-tile {
    background-image: url(images/transport-01.jpg);
    background-position: center;
}

#lodging-tile {
    background-image: url(images/lodging-01.jpg);
    background-position: center;
}



footer {
    padding-top: 1rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer p {
    margin: 0;
}

.footer-nav {
    width: 70%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    margin: 0;
}

.footer-nav li a {
    color: white;
}


.socials img {
    width: 30px;
    height: auto;
    margin: 0 .3rem 0 .3rem;
}



/* Dining Page */

#sushi-tile {
    background-image: url(images/sushi.jpg);
    background-position: center;
}

#pan-asian-tile {
    background-image: url(images/stir-fry.jpg);
    background-position: center;
}

#american-tile {
    background-image: url(images/burger.jpg);
    background-position: center;
}

#grocery-tile {
    background-image: url(images/super-market.jpg);
    background-position: center;
}

/* Lodging Page */

#hostel-tile {
    background-image: url(images/hostel.jpg);
    background-position: center;
}

#bnb-tile {
    background-image: url(images/bnb.jpg);
    background-position: center;
}

#motel-tile {
    background-image: url(images/motel.jpg);
    background-position: center;
}

#hotel-tile {
    background-image: url(images/hotel.jpg);
    background-position: center;
}


/* Entertainment Page */

#museum-tile {
    background-image: url(images/museum.jpg);
    background-position: center;
}

#aquatics-tile {
    background-image: url(images/snorkeling.jpg);
    background-position: center;
}

#dance-club-tile {
    background-image: url(images/dance-club.jpg);
    background-position: center;
}

#brewery-tile {
    background-image: url(images/brewery.jpg);
    background-position: center;
}



/* Transport Page */

#bikes-tile {
    background-image: url(images/bikes.jpg);
    background-position: center;
}

#buses-tile {
    background-image: url(images/bus.jpg);
    background-position: center;
}

#rental-cars-tile {
    background-image: url(images/cars.jpg);
    background-position: center;
}

#planes-tile {
    background-image: url(images/transport-01.jpg);
    background-position: center;
}

/* FAQ Page  */

details {
    margin: 2rem 0 2rem 0;
}

summary {
    font-size: 1.3rem;
    text-decoration: underline;
    cursor: pointer;
}

details p {
    margin: .5rem 0 .5rem 2rem;
    text-align: left;
    font-size: 1rem;
}

#book-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

label {
    margin: .5rem 0 .5rem 0;
}